venv/
TurismApp/Backend/MainModule/.env
TurismApp/Backend/MainModule/__pycache__/
TurismApp/Backend/MainModule/api/__pycache__/
TurismApp/Backend/MainModule/api/schedule/__pycache__/
TurismApp/Backend/MainModule/api/tour/__pycache__/
TurismApp/Backend/MainModule/models/__pycache__/
TurismApp/Backend/MainModule/api/closest/__pycache__/